<?import request ?>


<!-- $Id$ -->
<form action="[?urlencode request.uri ?]" method="get" accept-charset="utf-8">
	<label for="username">Username</label>
	<input type="text" name="username" value="" id="username-field">

	<label for="password">Password</label>
	<input type="password" name="password" value="" id="password-field">

	<p><input type="submit" value="Authenticate &rarr;"></p>
</form>

